.mySeries {

}

.mySeries h1{
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
}

.mySeries ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.mySeries ul li {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mySeries img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    transition: all 0.5s;
}

.mySeries img:hover {
    transform: scale(1.1);
}

.mySeries span {
    max-width: 50%;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}


